body{
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.jumbotron{
   background: url("/image/pizzabg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
   border-radius: 2rem;
      
}

.navbar{
    font-size: 1.6vw;
}

.dropdown-menu:hover{
    background: orange;
    color: blue;
}

h1{
    font-family: "Architects Daughter";
    font-weight: bold;
}

.myBorder{
    border: 1px solid black;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.356);
    font-size: 1.8vw;
}

.dropdown-delivery{
    color: black;
    cursor: pointer;
}

button{
    color: black;
}

#address{
    width: 30%;
    color: black;
}

i{
    background-color: dodgerblue;
    width: 5%;
    height: 3vw;
    padding: 0.5%;
    position: relative;
    text-align: center;
    left: 0.6%;
    top: -2px;
}

#form{
    margin: 0% auto;
	width: 100%;
	border-radius: 25px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
}

.lastContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-transform: capitalize;
}

.columsocial{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}